# Auto detect text files and perform LF normalization
* text=auto

# PHP files
*.php text eol=lf

# JSON files
*.json text eol=lf

# Markdown files
*.md text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Git files
.gitattributes text eol=lf
.gitignore text eol=lf

# Exclude files from export
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/.editorconfig export-ignore
